#root {
    display: flex;
    justify-content: center;
}

.vk-button {
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #597da3;
    color: white;
    -webkit-box-shadow: 2px 2px 5px #4e7298;
    -moz-box-shadow: 2px 2px 5px #4e7298;
    box-shadow: 2px 2px 5px #4e7298;
}

.vk-information {
    background-color: #597da3;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.vk-information.hidden,
.vk-button.hidden {
    display: none;
}

.vk-friends {
    list-style-type: none;
    padding: 0;
}